<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>电影详情</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="app">
    <header>
      <a class="header_title" href="/movie">硅谷电影</a>
      <a class="header_search" href="/search">搜索</a>
    </header>
    <div class="page">
      <h1 class="title"><%= data.title %></h1>
      <section class="info">
        <div class="left">
          <p class="rating">
            <span>评分：</span>
            <strong><%= rating %></strong>
            <span class="ratingNum">22323评价</span>
          </p>
          <p class="meta">
            <%= data.runtime %> /
            <% data.genre.forEach(function (item) { %>
              <%= item %>
            <% }) %>
            <%= data.directors %>(导演) / <%= data.casts %>
          </p>
        </div>
        <div class="right">
          <a href="javascript:;">
            <img src="<%= data.image %>" alt="<%= data.title %>">
          </a>
        </div>
      </section>
      <section class="intro">
        <h2><%= data.title %>的剧情简介</h2>
        <div class="bd">
          <p><%= data.summary %></p>
        </div>
      </section>
    </div>
  </div>
</body>
</html>