<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>硅谷电影预告片</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- dplayer 用于视频的依赖，可以制作弹幕 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/dplayer/1.25.0/DPlayer.min.css" />
  <script src="https://cdn.bootcss.com/dplayer/1.25.0/DPlayer.min.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">硅谷电影预告片</a>
      <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <div class="row">
      <div class="col">
        <div class="card-group">
          <% data.forEach(function (item, index) { %>
            <div class="card">
              <img class="card-img-top" 
                src="http://pcphvlfcd.bkt.clouddn.com/<%= item.postKey %>"
                data-coverkey="http://pcphvlfcd.bkt.clouddn.com/<%= item.coverKey %>"
                data-videokey="http://pcphvlfcd.bkt.clouddn.com/<%= item.videoKey %>"
                data-id="<%= item.doubanId %>"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text"><%= item.summary %></p>
              </div>
              <div class="card">
                <div class="card-header" id="heading<%= index %>">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                      点击查看电影详情
                    </button>
                  </h5>
                </div>
                <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#accordion">
                  <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item">导演：
                          <%= item.directors.forEach(function(d) {%>
                            <%= d %>&nbsp;&nbsp;
                          <%}) %>
                        </li>
                        <li class="list-group-item">主演：
                          <%= item.casts.forEach(function(d) {%>
                            <%= d %>&nbsp;&nbsp;
                          <%}) %>
                        </li>
                        <li class="list-group-item">类型：
                            <%= item.genre.forEach(function(d) {%>
                              <%= d %>&nbsp;&nbsp;
                            <%}) %>
                        </li>
                        <li class="list-group-item">评分：<%= item.rating ? item.rating : '暂无评分' %></li>
                        <li class="list-group-item">上映时间：<%= item.releaseDate %></li>
                        <li class="list-group-item">片长: <%= item.runtime %></li>
                      </ul>
                  </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><%= Math.ceil((Date.now() - item.createTime) / 86400000) %>天更新</small>
                </div>
              </div>
            </div>
          <%})%>
        </div>    
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div id="dplayer"></div>
      </div>
    </div>
  </div>
</body>
</html>
<script>
  $(function () {
    let dp = null
    let lastVideo = null; // 保存最好播放的视频

    $('#myModal').on('hidden.bs.modal', function (e) {
      // 暂停播放器
      dp.pause()
    })
    $('.card-img-top').click(function () {
      // 模态框显示
      $('#myModel').model('show')

      // 获取视频和封面图的链接
      const video = $(this).data('videokey')
      const cover = $(this).data('coverkey')

      // 获取当前电影的豆瓣id
      const doubanId = $(this).data('id')
      if (!dp) { // 播放器对象还未创建
        // 创建播放器对象 
        dp = new DPlayer({
          container: document.getElementById('dplayer'),
          video: {
            url: video,
            pic: cover,
            thumbnails: cover
          },
          danmaku: {
            id: doubanId, // 视频id
            api: 'https://api.prprpr.me/dplayer/'
          }
        })
      } else {
        if (video === lastVideo) {
          dp.play() // 播放当前视频
        } else {
          // 切换到其他视频
          dp.switchVideo(
            {
              url: video,
              pic: cover,
              thumbnails: cover
            },
            {
              id: doubanId,
              api: 'https://api.prprpr.me/dplayer/',
              maximum: 3000,
              user: 'DIYgod',
            }
          );
        }
        
      }
      // 同步
      lastVideo = video
    })

    /**
     * 1. 加载弹幕
     * 请求地址：
     * 请求方式：GET
     * 返回值：json字符串
     * {
     *   code: 0,
     *   data: [
     *    [
     *      3.396, // 弹幕发送时间，单位s
     *      0,     // 弹幕类型
     *      16777215,   // 弹幕的颜色
     *      'DIYgod',   // 弹幕发送者
     *      '1111'     // 弹幕内容
     *    ]  
     *   ]
     * }
     * 2. 发送弹幕
     *   请求地址：自己服务器的地址
     *   请求方式：POST
     *   请求参数：
     *     author: 'DIYgod', // 弹幕发送者
     *     color: 16777215,   // 弹幕的颜色
     *     id: demo          // 弹幕id
     *     text: 13334       // 弹幕内容
     *     time: 0           // 弹幕发送时间，单位s
     *     type: 0           // 弹幕类型
     *   返回值：json
    */
  })
</script>