<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>搜索页面</title>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
  <script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
</head>
<body>
  <h1 id="search">语音识别查电影</h1>
  <ul id="list">
    
  </ul>
  <script>
    /**
     * 1. 绑定域名
     *  - 在接口测试号页面填写js安全域名接口
     * 2. 引入js文件
     *  - http://res.wx.qq.com/open/js/jweixin-1.4.0.js
     * 3. 通过config接口注入权限验证配置
    */
  wx.config({
    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: 'wx7b7f3b09f3ae6eef', // 必填，公众号的唯一标识
    timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
    nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
    signature: '<%= signature %>',// 必填，签名
    jsApiList: [ // 必填，需要使用的JS接口列表
      'onMenuShareQZone',
      'startRecord',
      'stopRecord',
      'translateVoice'
    ] 
  });
  
  // config信息验证后会执行ready方法
  wx.ready(function(){
    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，
    // config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把
    // 相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    
    // 判断当前客户端版本是否支持指定JS接口
    wx.checkJsApi({
      jsApiList: [
        'onMenuShareQZone',
        'startRecord',
        'stopRecord',
        'translateVoice'
      ], // 需要检测的JS接口列表，所有JS接口列表见附录2,
      success: function(res) {
      // 以键值对的形式返回，可用的api值true，不可用为false
      // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
        console.log(res)
      }
    });
    
    // 设置标志位，是否在录音中
    var isRecord = false
    // 语音识别功能
    $('#search').tap(function () {
      if (!isRecord) {
         // 开始录音
         wx.startRecord();
         isRecord = true
      } else {
        // 结束录音
        wx.stopRecord({
        // 录音时间超过一分钟没有停止的时候会执行 complete 回调
          success: function (res) {
            // 结束录音后，会自动上传录音到微信服务器，微信服务器会返回一个id给开发者使用
            var localId = res.localId;
            isRecord = false
            // 将录音转为文字
            // wx.translateVoice({
            //   localId: localId,  // 需要识别的音频的本地Id，由录音相关接口获得
            //   isShowProgressTips: 1, // 默认为1，显示进度提示
            //   success: function (res) {
            //     console.log(res.translateResult); // 语音识别的结果
            //   }
            // })
            // 模拟结果 -- 西虹市首富
            // 去豆瓣请求响应的电影数据
            // https://api.douban.com/v2/movie/search?q=西虹市首富
            var url = 'https://api.douban.com/v2/movie/search?callback?&q=西虹市首富';
            // 获取电影数据
            $.getJSON(url, function(data) {
              console.log(data)
              var { subjects } = data
              var html = ''
              subjects.forEach(function (item) {
                html += '<li><h2>' + item.title+ '</h2>' +
                  '<p>评分：' + item.rating.average + '</p>' +
                  '<div>\n' +
                    '<img src="'+item.images.small+'" alt="">' +
                  '</div>\n' +
                  '<a href="'+item.alt+'">'+ item.title + '</a></li>'
              })
              $('#list').html(html)
            })
            
            // 分享qq空间
            wx.onMenuShareQZone({
              title: '分享的标题', // 分享标题
              desc: '分享描述', // 分享描述
              link: '分享链接', // 分享链接
              imgUrl: '', // 分享图标
              success: function () {
                // 用户确认分享后执行的回调函数
                alert('分享成功')
              },
              cancel: function () {
                // 用户取消分享后执行的回调函数
                alert('分享失败')
              }
            });

          }
        });
      }


    })

  });
  
  // config信息验证失败后会执行ready方法
  wx.error(function(res){
    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开
    // config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
  });

  </script>
</body>
</html>